Host public
        HostName ec2-XXX-XXX-XXX-XXX.eu-west-1.compute.amazonaws.com
        IdentityFile ~/.ssh/XXX.pem
        User ec2-user

Host private
        HostName 10.0.XXX.XXX
        IdentityFile ~/.ssh/XXX.pem
        Port 22
        User ec2-user
        ProxyCommand ssh -q -W %h:%p public
